<h2><%= "Floorplan #{@floorplan.id}" %></h2>
<div class="main-grid">
  <div class="row" id="1">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="2">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="3">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="4">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="5">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="6">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="7">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="8">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="9">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

  <div class="row" id="10">
    <div class="card col" id="1">
    </div>
    <div class="card col" id="2">
    </div>
    <div class="card col" id="3">
    </div>
    <div class="card col" id="4">
    </div>
    <div class="card col" id="5">
    </div>
    <div class="card col" id="6">
    </div>
  </div>

</div>
