<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New note...</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for [@restaurant, @note] do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder:
                    'What do you need to remember?'
        %>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">CLOSE</button>
        <%= f.submit 'CREATE NOTE', class: "btn btn-primary rounded-1" %>
      </div>
    <% end %>
  </div>
</div>
