// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$grey: #16111a;
$gray: #16111a;
$light-gray: #F4F4F4;
$greyblue: #32323b;
$white: #F9F9F9;
$purple: #4f28a7;
