<nav class="navbar">
  <div class="logo">
    <div class="navbar-logo">
      <h4>R</h4>
    </div>
  </div>
  <div class="navigation">
      <% if user_signed_in? %>
      <%= link_to dashboard_path, class: (current_page?("/dashboard") ? "active" : "inactive") do %>
        <div class="nav-menu-text">Dashboard</div>
        <div class="nav-menu-icon">
          <svg width="49" height="32" viewBox="0 0 49 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M38.1701 11.7836C41.4169 16.0817 43.5768 21.7748 44.2323 28H24.2692L4.30609 28C4.96158 21.7748 7.12154 16.0817 10.3683 11.7836C14.2936 6.58726 19.3391 4 24.2692 4C27.9155 4 31.625 5.41529 34.8977 8.2547C33.506 9.27264 29.1966 13.0719 18.9259 23.1165C18.3299 23.6993 18.3925 24.7635 19.0368 24.9863L26.609 27.6044C27.0382 27.7528 27.5451 27.442 27.7673 26.8942L35.2146 8.53537C36.2515 9.47248 37.2421 10.5551 38.1701 11.7836ZM44.4418 32C46.6509 32 48.4618 30.2051 48.2528 28.0058C47.5864 20.9916 45.178 14.4245 41.3618 9.37258C36.8286 3.37142 30.6802 0 24.2692 0C17.8582 0 11.7098 3.37142 7.17659 9.37258C3.36041 14.4245 0.951988 20.9916 0.285548 28.0058C0.0765926 30.2051 1.88746 32 4.0966 32L24.2692 32H44.4418Z" fill="currentColor"/>
          </svg>
        </div>
      <% end %>
      <%= link_to restaurant_path(current_user.restaurant) do %>
        <div class="nav-menu-text">Settings</div>
        <div class="nav-menu-icon">
          <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18 1.5C18 0.671573 18.6716 0 19.5 0H28.5C29.3284 0 30 0.671573 30 1.5V3.86962C31.3966 4.28527 32.7323 4.8423 33.9906 5.52411L35.6672 3.84746C36.253 3.26167 37.2028 3.26167 37.7886 3.84746L44.1525 10.2114C44.7383 10.7972 44.7383 11.747 44.1525 12.3327L42.4759 14.0094C43.1577 15.2676 43.7148 16.6034 44.1304 18H46.5C47.3284 18 48 18.6716 48 19.5V28.5C48 29.3284 47.3284 30 46.5 30H44.1304C43.7148 31.3966 43.1577 32.7324 42.4759 33.9906L44.1525 35.6672C44.7383 36.253 44.7383 37.2028 44.1525 37.7886L37.7886 44.1525C37.2028 44.7383 36.253 44.7383 35.6672 44.1525L33.9906 42.4759C32.7323 43.1577 31.3966 43.7147 30 44.1304V46.5C30 47.3284 29.3284 48 28.5 48H19.5C18.6716 48 18 47.3284 18 46.5V44.1304C16.6034 43.7147 15.2677 43.1577 14.0094 42.4758L12.3327 44.1525C11.7469 44.7383 10.7972 44.7383 10.2114 44.1525L3.84744 37.7886C3.26166 37.2028 3.26166 36.253 3.84744 35.6673L5.52416 33.9905C4.84236 32.7323 4.28533 31.3966 3.86968 30H1.5C0.671573 30 0 29.3284 0 28.5V19.5C0 18.6716 0.671573 18 1.5 18H3.86968C4.28533 16.6034 4.84236 15.2677 5.52416 14.0095L3.84743 12.3327C3.26165 11.7469 3.26165 10.7972 3.84743 10.2114L10.2114 3.84744C10.7972 3.26166 11.7469 3.26166 12.3327 3.84744L14.0094 5.52415C15.2677 4.84234 16.6034 4.28531 18 3.86965V1.5ZM24 40.5C33.1127 40.5 40.5 33.1127 40.5 24C40.5 14.8873 33.1127 7.5 24 7.5C14.8873 7.5 7.5 14.8873 7.5 24C7.5 33.1127 14.8873 40.5 24 40.5Z" fill="currentColor"/>
          </svg>
        </div>
      <% end if current_user.restaurant %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="nav-menu-text">Log out</div>
        <div class="nav-menu-icon">
          <svg width="35" height="48" viewBox="0 0 35 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5 42C5 42.5523 5.44772 43 6 43H14.0057H22H26C26.5523 43 27 43.4477 27 44C27 46.2091 25.2091 48 23 48H4C1.79086 48 0 46.2091 0 44V4C0 1.79086 1.79086 0 4 0H23C25.2091 0 27 1.79086 27 4C27 4.55228 26.5523 5 26 5H22H14.0057H6C5.44771 5 5 5.44772 5 6V42ZM34.2929 24.7071C34.6834 24.3166 34.6834 23.6834 34.2929 23.2929L20.7071 9.70711C20.0771 9.07714 19 9.52331 19 10.4142V37.5858C19 38.4767 20.0771 38.9229 20.7071 38.2929L34.2929 24.7071Z" fill="currentColor"/>
          </svg>
        </div>
      <% end %>

      <%#
        {'Dashboard' => dashboard_path, 'Settings' => restaurant_path(current_user.restaurant), "Shift " => restaurant_report_path(current_user.restaurant)}.each do |name, path|

      <% else %>
      <%= link_to "Log in", new_user_session_path unless user_signed_in? %>
      <% end %>
  </div>
</nav>
