<h2>Get running!</h2>
<% if @restaurant %>
  <%= @restaurant.name %> - <%= link_to 'Restaurant show page', restaurant_path(@restaurant) %>
<% else %>
    <div class="started-item active d-flex align-items-center mb-3 mt-3 ">
      <div class="rounded-circle bg-dark text-light p-3 m-1">01</div>
      <div><strong class="m-2">Create your restaurant</strong></div>
      <%= link_to 'Create a Restaurant', new_restaurant_path, class: 'btn btn-primary m-2 rounded-pill ' %>
    </div>
<% end %>
