<%= render 'shared/navbar' %>
<section class="hero p-2">
  <h2>Get running!</h2>
  <p>Running shifts made easy with RUNR!</p>
  <p>All the information that you need within not more than 3 clicks!</p>
  <%= link_to "Log in", new_user_session_path, class: 'btn btn-outline-primary m-3' %>
  <%= link_to "Register", new_user_registration_path, class: 'btn btn-outline-secondary m-3' %>
</section>
