<section class="hero p-2">
  <h2>Get running!</h2>
  <p>Running shifts made easy with RUNR!</p>
  <p>All the information that you need within not more than 3 clicks!</p>
  <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary rounded-pill m-3 p-4 pb-2 pt-2' %>
  <%= link_to "Register", new_user_registration_path, class: 'btn btn-secondary rounded-pill m-3 p-4 pb-2 pt-2' %>
</section>
