.dashboard {
  height: 100vh;
  flex-grow: 1;
  background-color: $grey;
  padding: 0.5rem;
  padding-left: 5.5rem;
  color: $light-gray;
}

.dashboard-card {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #e1e1ff12;
  border-radius: 16px;
  border: none;
  flex-grow: 1;

  .card-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    background-color: initial;
    border: none;
  }
  .card-header h3 {
    /*aaa*/
    font-weight: 600;
    padding: 0.5rem;
  }

  .card-header-button {
    height: 32px;
    font-size: 12px;
  }
}

.tasklist {
  height: -webkit-fill-available;
}

#report-card .card-item {
  background-color: rgba(10, 10, 10, 0.1);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.report-card-item {
  background-color: rgba(132, 132, 132, 0.1);
  border-radius: 8px;
}

.card-note {
  width: -webkit-fill-available;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 1rem;
  border-radius: 4px 0 0 4px;
}

.btn-see-more {
  font-size: 12px;
}
