.report-table {
  .row:nth-child(odd) {
    background-color: rgba(150, 150, 150, 0.3);
  }

  .row:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }
  .row.header {
    background-color: rgba(100, 100, 100, 0.5) !important;
  }
}
